<%- layout('cookingLayout') -%>

<!--container for cooking instructions-->
<div class="container">

      <div class="main-content" id="top">

        <div class ="recipe">
          <h2><strong><%= user.profile.name %>,</strong></h2>
          <h3>Let's cook some <%= product.name %>!</h3>
        <ul>
          <li><%= product.ingredients %></li>
          <li><%= product.instructions %></li>
        </ul>
        </div>

        <div class="form-group">
          <div class="col-xs-5">
            <div class="input-group">
              <div class="input-group-addon">Hours</div>
              <input id="hour" type="number" class="form-control" min="0" max="12" placeholder="0" >
            </div>
          </div>
          <div class="col-xs-5">
            <div class="input-group">
              <div class="input-group-addon">Mins</div>
              <input id="min" type="number" class="form-control" min="0" max="59" placeholder="0" >
            </div>
          </div>
        </div>

          <button class="btn btn-primary" onclick="start();">Start/Stop Timer</button>
          <a href="/cooking/<%= product._id %>"><button class="btn btn-primary">Reset Timer</button></a>

        <div id="notificationBlock">
          <div class="notificatorWrapper">
          </div>
        </div>


              <div class="main-content">
                <div class="timer-group">
                  <div class="timer hour">
                    <div class="hand"><span class="handspan"></span></div>
                    <div class="hand"><span class="handspan"></span></div>
                  </div>
                  <div class="timer minute">
                    <div class="hand"><span class="handspan"></span></div>
                    <div class="hand"><span class="handspan"></span></div>
                  </div>
                  <div class="timer second">
                    <div class="hand"><span class="handspan"></span></div>
                    <div class="hand"><span class="handspan"></span></div>
                  </div>
                  <div class="face">
                    <h2>Little Cooker</h2>
                    <p id="lazy">00:00:00</p>
                  </div>
              </div>
            </div>

          <div>
            <a href="/completedCook/<%= product._id %>"><button id="complete" class="btn btn-primary pull-right"><h3>Finish</h3></button></a>
          </div>
          <br>
        </div>
</div>


<!-- <script src="/js/cookingLoader.js"></script> -->
