<%- layout('cookingLayout') -%>

<!--container for cooking instructions-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="main-content" id="top">

        <div class ="recipe">
          <h2><strong><%= user.profile.name %>,</strong></h2>
          <h3>Let's cook some <%= product.name %>!</h3>
        <ul>
          <li><%= product.ingredients %></li>
          <li><%= product.instructions %></li>
          <input id="clickMe" class="btn btn-primary" value="Start/Stop Timer" onclick="start();" />
        </ul>
        </div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="main-content">
          <div class="timer-group">
            <div class="timer hour">
              <div class="hand"><span class="handspan"></span></div>
              <div class="hand"><span class="handspan"></span></div>
              </div>
            <div class="timer minute">
              <div class="hand"><span class="handspan"></span></div>
              <div class="hand"><span class="handspan"></span></div>
              </div>
            <div class="timer second">
              <div class="hand"><span class="handspan"></span></div>
              <div class="hand"><span class="handspan"></span></div>
              </div>
            <div class="face">
              <h2>Little Cooker</h2>
              <p id="lazy">00:00:00</p>
              </div>
            </div>
      </div>
    </div>
    <div>
    <a href="/completedCook/<%= product._id %>"><button id="complete" class="btn btn-primary"><h3>Finish</h3></button></a>
  </div>
  </div>
</div>

      </div>
    </div>
  </div>
</div>

<!-- <script src="/js/cookingLoader.js"></script> -->
