<%- layout('layout') -%>

<div id="midContainer" class="container">

  <div id="pplBtn" class="container">
    <h1 style="padding-top:50px;">Feed</h1>
    <a href="/publicFeed"><button id="testjs" class="btn btn-primary active">Public</button></a>
    <a href="/profile"><button id="testjs" class="btn btn-primary">You</button></a>
  </div>

  <div class="pubFeedRedesign">
      <div class="container">
          <div class="row">

            <% if(people.length > 0) {%>
              <% for(var i = 0; i < people.length; i++) { %>
                <% for(var j = 0; j < people[i].history.length; j++) { %>

                  <div class="col-xs-6" style="opacity:0.9;">
                      <div class="thumbnail">
                          <img src="<%= people[i].history[j].image %>">
                          <div class="caption">
                              <h3><%= people[i].profile.name %> prepared <a class="cookBtn" href="/product/<%= people[i].history[j].item %>"><%= people[i].history[j].name %></a></h3>
                          </div>
                          <div class="container">
                          <p><%= people[i].history[j].comment %></p>
                          <p><strong>Feeling: </strong><%= people[i].history[j].feeling %></p>
                        </div>
                      </div>

                  </div>

                <% } %>
              <% } %>
            <% } %>

          </div>
      </div>
  </div>
</div>
